<div class="container">
  <h1> <%= @restaurant.name %> </h1>
  <p> <%= @restaurant.address %></p>
  <p> <%= @restaurant.category %></p>
  <p> <%= @restaurant.phone_number %></p>
</div>

<div class="container">

  <h4>
    <%= link_to 'Add a Review', new_restaurant_review_path(@restaurant) %>
  </h4>


  <h3>Reviews</h3>
  <% @restaurant.reviews.each do | rev | %>
    <p><%= rev.content %> | Rating:<%= rev.rating %>/5</p>
    <% end %>
</div>
