<div class="container">
  <h1>Add a new review</h1>

  <h2>I hate this stupid thing!!!!!</h2>
  <p>this is a review for:</p>
  <%= @restaurant.name %>

  <%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit 'Save Review' %>
  <% end %>
</div>
